[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sRajkumar003
[access "refs/for/refs/*"]
	read = group user/sRajkumar003
	push = group user/sRajkumar003
	label-Code-Review = -2..+2 group user/sRajkumar003
	label-Verified = -1..+1 group user/sRajkumar003
	rebase = group user/sRajkumar003
	removeReviewer = group user/sRajkumar003
	submit = group user/sRajkumar003
[access "refs/heads/*"]
	read = group user/sRajkumar003
	create = group user/sRajkumar003
	push = +force group user/sRajkumar003
	pushMerge = group user/sRajkumar003
[access "refs/tags/*"]
	push = group user/sRajkumar003
	push = +force group user/sRajkumar003
